<%= form_with(model: movie_role, local: true) do |form| %>
  <% if movie_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie_role.errors.count, "error") %> prohibited this movie_role from being saved:</h2>

      <ul>
      <% movie_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :character %>
    <%= form.text_field :character, id: :movie_role_character %>
  </div>

  <div class="field">
    <%= form.label :actor_id %>
    <%= form.text_field :actor_id, id: :movie_role_actor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
